<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School Portal{% endblock %}</title>
    {% load static %}
    <!-- Подключение стилей CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'view_grades' %}">Grades</a></li>
                <li><a href="{% url 'view_schedule' %}">Schedule</a></li>
                <li><a href="{% url 'view_news' %}">News</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'view_profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    
    <footer>
        <p>&copy; 2024 School Portal</p>
    </footer>
    
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
